<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>  
    <img src=<%= require("./images/react-ico.png") %> alt="" width="60px">
    <div id="root"></div>    
</body>
</html>